.bg
{
background-color:#cc6600;
width: 50px;
text-decoration-style: none;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
padding: 10px;
color: aliceblue;
text-align: center;
padding-bottom: 0px;

}

.row_bg{
    padding-top: 8px;
    padding-bottom: 3px;
    margin-left: 8px;
}

.game-inst
{
    background-color:#ffe6cc;
    width: 300px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: #00b300;
    padding: 10px;
    padding-top:0px;
    text-align: left;
    margin-left: -8px;
    
}

.outcome
{
    background-color: #1affff;
    width: 100px;
    margin-right: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.show_marks{
    background-color: #00997a;
    width: 400px;
    margin-right: 30px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.row_outcome
{
    padding-top: -2px;
    margin-left: 15px;
    padding-bottom: 3px;
    margin-top: 15px;

}
.row_game{
    padding-top: 2px;
    margin-left: 15px;
    padding-bottom: 0px;
}

.row_img{
    margin-left: 2px;
    padding-top: 2px;
    padding-bottom: 10px;
    border-image-width: 50px;
}
.row_score{
    background-color: #00997a;
    width: 400px;
    padding-top: 3px;
    margin-left: 15px;
    padding-bottom: 5px;
    font-size: 15px;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
.total_score{
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
}
.hey{
    
    width: 400px;
    background-color: #00997a;
    margin-left: 15px;
    margin-top: 3px;
    font-family: 'Times New Roman', Times, serif;
    
}
.final{
    padding: 30px;
    margin-top: 10px;
}